<h1>PUGS INDEX</h1>

<% if (locals.message) { %>
  <p><%= message %></p>
<% } %>

<a href="/pugs/new">Add a Pug</a><br>

<% pugs.forEach((pug) => { %>
  <img src="<%= pug.pugImages %>">
  <a href="/pugs/<%= pug.id %>"><h2><%= pug.pugName %></h2></a>
  <p>Age: <%= pug.pugAge %></p>
  <p>Costume: <%= pug.costumes %></p>
  <p>Description: <%= pug.pugDescription %></p><br>
  <p>Created By: <%= pug.createdBy %><br>

<% }) %>
