

<div class="container-fluid">
  <div class="row">
      <% pugs.forEach((pug) => { %>
      <div class="card" style="width: 20rem;">
        <img class="card-img-top img-thumbnail img-size" src="<%= pug.pugImages %>" alt="Pug In Costume">
        <div class="card-body">
          <a class="card-title" href="/pugs/<%= pug.id %>"><h4><%= pug.pugName %></h4></a>
          <div class="card-text">
            <p>
            Age: <%= pug.pugAge %><br>
            Costume: <%= pug.costumes %><br>
            Description: <%= pug.pugDescription %><br>
            Created By: <%= pug.createdBy %><br>
            </p>
          </div>
        </div>
      </div>

      <% }) %>

    </div>
  </div>
</div>
