<h1>SHOW THE PUGS </h1>

<h1><%= pug.pugName %></h1>

  <img src="<%= pug.pugImages %>">
  <p>Age: <%= pug.pugAge %></p>
  <p>Costume: <%= pug.costumes %></p>
  <p>Description: <%= pug.pugDescription %></p><br>
  <p>Created By: <%= pug.createdBy %><br>
